.titleconteudo {
    font-size: 50px;
    background-color:rgb(50, 75, 7);
    border-radius: 30px;
    padding-bottom: 50px;
}
.content {
    color: rgb(177, 177, 119);
    background-color: rgb(50, 75, 7);
    border-radius: 30px;
    padding-left: 670px;
    padding-right: 670px;
    padding-bottom: 70px;
    
}
p{
    padding: 50px;
    
}
img{
    width: 500px;
    height: 300px;
    display: flex;

}
h1{
    padding: 50px;
}
