.titleconteudo {
    font-size: 50px;
    background-color:rgb(50, 75, 7);
    border-radius: 30px;
    padding-bottom: 50px;
}

.content {
    color: rgb(177, 177, 119);
    background-color: rgb(50, 75, 7);
    border-radius: 30px;
    padding: 120px;

    
}
p{
    font-size: larger;
}